@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my site for past blog posts about asexuality, and some other random stuff. To be honest, half of the reason this exists is because I like the url, so enjoy!</p>
</div>



